.header--sticky {
    height: 0vh;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 500;

    .header__nav {
        .navbar-toggler {
            background-color: #f4d6b9;
            border-color: #0c0c0d;
        }

        .header__nav__ul--justify {
            display: flex;
            justify-content: space-evenly;
            line-height: 30px;

            .header__nav__ul__li--style {
                display: block;
                list-style: none;
                font-family: 'Libre Baskerville', serif;
                font-size: 20px;
                color: white;
                //text-shadow: -1.5px 2px 0 #0a0e27;
                margin-right: 15px;



                &:last-child {
                    margin-right: 0;
                }

                .header__nav__ul__li__a--link {
                    color: rgb(7, 5, 5);
                    padding: 5px;
                    border-radius: 15px;
                    text-decoration: none;
                    



                    &:hover {
                        text-decoration: rgb(214, 163, 54);
                        transition: opacity .5s;
                        background: #0c0c0d81;
                    }
                }
            }
        }
    }
}

.fondo {
    background-color: #0c0c0d81;
    width: 100%;
    height: 130px;
}

.contador {
    color: black;
    border-radius: 23px;
    background-color: #f5b679;
    font-family: 'Lucida Sans';
    font-size: 20px;
    text-align: center;
}